<html>
    <body>
    <form action = "/result" method="POST">
          <h1>Enter a search criteria.</h1>
            <label for="searchcriteria"> Search By:</label>
            <select name = "searchcriteria">
                <option value ="reqid"> Requirement ID</option>
                <option value = "screenname"> Screen Name</option>
            </select>

            <p> Enter Details <input type = "text" name = "searchattribute"</p>
            <p> <input type = "submit" value = "Search"/> </p>
    </form>
    </body>

</html>